.channel-details-container {
    width: 85%;
    margin-inline: auto;
}

.banner {
    width: 100%;
    height: 18vw;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.channel-details-container>.channel-details {
    margin-block: 20px;
    display: flex;
    align-items: center;
    height: 130px;
    width: 100%;
}

.channel-details>img {
    height: 100%;
    border-radius: 50%;
}

.channel-name {
    font-size: 2rem;
    font-weight: 600;
}

.channel-details>.text {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 20px;
}


.channel-videos {
    display: flex;
    gap: 5vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 24vw;
    }

    .channel-details-container>.channel-details {
        margin-block: 2vw;
        height: 18vw;
    }

    .channel-name {
        font-size: 4vw;
    }

    .channel-details>.text {
        font-size: 2vw;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 370px) {
    .channel-details-container {
        width: 95%;
    }

    .banner {
        height: 30vw;
    }

    .channel-details-container>.channel-details {
        margin-block: 4vw;
        height: 20vw;
    }

    .channel-name {
        font-size: 5vw;
    }

    .channel-details>.text {
        font-size: 2.5vw;
    }
}