.feed-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 10px;
}

.feed-container>.item-container {
    width: 350px;
}