.searchfeed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    margin: 20px;
}

.searchfeed-container>.item-container {
    width: 80%;
}

.searched-video-container,
.searched-channel-container {
    width: 100%;
    height: 12vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.searched-video-thumbnail {
    width: 23vw;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.searched-videocard-right,
.searched-channel-card-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    gap: 0.6vw;
}

.searched-channel-card-right{
    justify-content: center;
}
.searched-video-title,
.searched-channel-title {
    font-size: 1.5vw;
}

.searched-channel-title{
    display: flex;
    gap: 0.5vh;
    align-items: center;
}
.channel-details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.searched-videocard-channel-thumbnail {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    object-fit: cover;
}

.channel-details>.channel-name {
    font-size: 1.25vw;
}

.image-container {
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searched-channel-thumbnail {
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    object-fit: cover;
}